
<div class="container">
  <div class="row py-4">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center"> LISTAR PERSON</h2>
          <div class="container-fluid">
            <mat-form-field>
              <input matInput (keyup)="filtrar($event)" placeholder="Buscar Personas">
            </mat-form-field>
          </div>

  <table mat-table [dataSource]="dataSource" matSort class="table table-dark table-hover">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>


  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>
  <ng-container matColumnDef="firstname2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName2 </th>
    <td mat-cell *matCellDef="let element"> {{element.firstname2}} </td>
  </ng-container>
  <ng-container matColumnDef="lastname2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName2 </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname2}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>


  <div class="row py-4">
    <div class="col-md-3">
      <div class="form-group row">
        <div class="col-sm-12">
          <button class="btn btn-primary w-100 py-2" style="float: left" routerLink="/root" >
            Listar Root
         </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group row">
        <div class="col-sm-12">
         <button class="btn btn-primary w-100 py-2" style="float: left" routerLink="/person-update" >
          Listar Person
       </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

</div>

